@charset "UTF-8";

p {
  color: #fff;
  line-height: 100px;
  background: #000;
  text-align: center;
  margin: 0;
}

img {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  color: #333;
}

a:link,
a:visited {
  text-decoration: none;
  color: #313131;
}

a:hover,
a:active {
  text-decoration: none;
  color: #666;
}

.hidden {
  display: none;
}

#topBar {
  /* background-color: #000; */
  /* height: 20px; */
}

#siteContainer {
  margin: 0 auto;
  width: 920px;
  padding-left: 20px;
  padding-left: 20px;
}

#mainHeader {
  margin-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  /* border-bottom: solid 1px #ddd; */
  margin: 20px;
}

#logo {
  margin-right: 10px;
  align-items: center;
  float: left;
  width: 150px;
}

#mainNav {
  float: right;
  width: 500px;
}

#promo {
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 40px;
}

#promo p {
  line-height: 200px;
}

#promotext {
  margin-bottom: 10px;
}

#promoImage {
}

#productInfo {
  margin-top: 40px;
  overflow: hidden;

  padding-bottom: 40px;
}

#productInfo p {
  align-items: center;
}

.productDescription {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#MainFooter {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}

#footerNav {
  margin-bottom: 10px;
}

#copyright {
  margin-bottom: 10px;
}
